body {
    background-color: lightcyan;
}


h1{
    text-align:center;
   border-style: dotted;
   border-color: skyblue;
}
th {
    padding: 5px;
    font-family:arial;
}
td{
    text-align: center;
}    
table{
    border-style: groove;
    border-color:rgb(82, 82, 99);
}
th{
    color: firebrick;
    font-family: Hobo Std;
}
button {
    color: steelblue;
    margin-left: 5px;
}
input {
    text-align: center;
}
tr {
    font-family: futura bk bt ;
    
}
marquee {
    font-family: forte;
    color: rgb(5, 36, 26);
    font-size: 60;
}
